{{#each this}}

<li class="event__list" data-url="{{url}}" data-src="{{id}}">
    <div class='event__square' data-url="{{url}}" data-src="{{id}}"></div>
    <img class="event__image" src="{{images.2.url}}" data-src="{{id}}" alt="{{name}}" data-url="{{url}}"/>
    <div class="event__content" data-src="{{id}}" data-url="{{url}}">
        <h3 class="event__title" data-src="{{id}}" data-url="{{url}}" >{{name}}</h3>
        <p class="event__date" data-src="{{id}}" data-url="{{url}}">{{dates.start.localDate}}</p>
        {{#if _embedded.venues.0.name}}
            <p class="event__place" data-src="{{id}}">{{_embedded.venues.0.name}}</p>
        {{else}}
            <p class="event__place" data-src="{{id}}">{{dates.timezone}}</p>
        {{/if}}
    </div>
</li>
{{/each}}