{{#each this}}
    <li class="event__list">
            <div class='event__square'></div>
            <img class="event__image" src="{{images.2.url}}" data-src="{{id}}" alt="{{name}}"/>
        <div class="event__content">
            <h3 class="event__title">{{name}}</h3>
            <p class="event__date">{{dates.start.localDate}}</p>
            <p class="event__place">{{dates.timezone}}</p>
        </div>
    </li>
{{/each}}