{{#each this}}


<div class="modal__image--big">
    <img class="modal__image" src="{{images.2.url}}" alt="{{name}}" />
</div>



<div class="modal-content__container ">
<div class="modal__image modal-content__item">
<div class="modal__image--little">
    <img class="modal__image" src="{{images.2.url}}" alt="{{name}}" />
</div>

</div>



<div class="modal-content__item">
    <ul class="modal-info__list ">
        <li class="modal-info__item"></li>
        <h3 class="modal-info__topic">INFO</h3>
        <p class="modal-info__text"></p>
        </li>
        <li class="modal-info__item">
            <h3 class="modal-info__topic">WHO</h3>
            <p>{{name}}</p>
        </li>
        <li class="modal-info__item">
            <h3 class="modal-info__topic">WHEN</h3>
            <p class="modal-info__text">{{dates.start.localDate}}</p>
            <p class="modal-info__text">{{dates.start.localTime}}</p>
        </li>
        <li class="modal-info__item">
            <h3 class="modal-info__topic">WHERE</h3>
            <p class="modal-info__text">{{dates.timezone}}</p>
        </li>
        <li class="modal-info__item">
            <h3 class="modal-info__topic">PRICES</h3>
            <p>{{priceRanges.0.type}} {{priceRanges.0.min}}-{{priceRanges.0.max}} {{priceRanges.0.currency}} </p>
            </p>
        </li>
    </ul>
</div>
</div>
{{/each}}

